div {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  animation: bounce 1s ease-in .1s 5 alternate both;
}

@keyframes bounce {
  0% {left: 10%; bottom: 70%;}
  100% {left: 10%; bottom: 0%;}
}