div {
  display: inline-block;
  margin: 20px 5px 20px 5px;
  padding: 5px;
  width: 135px;
  height: 400px;
  vertical-align: top;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  cursor: default;
  background-color: khaki;
}

img {
  height: 200px;
}

h1, p {
  font-size: 12px;
}

h1 {
  font-weight: bold;
}