:root {
  --bg-primary: #dfe075;
  --bg-secondary: #e3e3e3;
  --bg-alert: #e34f3d;
  --primary-font-color: #302d2a;
  --secondary-font-color: #f7f7f7;
  --btn-main-color: #cc8350;
  --btn-secondary-color: #7a3d12;
}

* {
  box-sizing: border-box;
}

header, footer {
  padding: 5px;
  margin-top: .5em;
  margin-bottom: .5em;
}

nav, aside {
  padding: 3px;
  margin-top: .5em;
  margin-bottom: .5em;
}

h1 { font-size: clamp(18px, 5vw, 50px); }
h2 { font-size: clamp(15px, 4vw, 30px); }
h1, h2 { margin: min(7vh, 2.75rem) 0 1.05rem; }

html {
  font-size: min(3.2vw, 14px);
  font-family: "Lucida Console", Monaco, monospace;
  color: var(--primary-font-color);
}

.main-head {
  grid-area: header;
  place-self: center strech;
}

.main-nav {
  grid-area: nav;
}

.content {
  grid-area: content;
} 

.side {
  grid-area: sidebar;
}

.ad {
  grid-area: ad;
}

.main-footer {
  grid-area: footer;
  place-self: center strech;
}

.page {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer"
}

@media (min-width: 500px) {
  .page {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "nav     nav"
      "sidebar content"
      "ad      footer";
  }
}

@media (min-width: 700px) {
  .page {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer"
  }
}

.page {
  gap: .7em;
}

@media (min-width: 500px) {
  .page {
    gap: 1.2em;
  }
}

@media (min-width: 700px) {
  .page {
    gap: 2.3em;
  }
}

.main-head {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
}

.main-nav {
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
}

.primary-btn {
  background-color: var(--btn-main-color);
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--btn-secondary-color);
  color: var(--secondary-font-color);
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

@media (min-width: 700px) {
  .main-nav {
    justify-content: center;
  }

  .primary-btn {
    min-width: 180px;
  }
}

.content {
  background-color: var(--bg-secondary);
}

.content__header {
  margin-left: 3em;
}

.side {
  background-color: var(--bg-secondary);
}

.ad {
  background-color: var(--bg-alert);
  color: var(--secondary-font-color);
  text-align: center;
}

.main-footer {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
}